<!DOCTYPE html>
<html lang="en">
<link href="/css/404.css" type="text/css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>404-Not found</title>
</head>
<body>
<div class="wrapper row2">
    <div id="container" class="clear">
        <section id="fof" class="clear">
            <div class="hgroup">
                <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
                <h2>Error ! <span>Page Not Found</span></h2>
            </div>
            <p>For Some Reason The Page You Requested Could Not Be Found On Our Server</p>
        </section>
    </div>
</div>
</body>
</html>